/* Variables, adjust these to your liking */
:root {
    --bg-normal: #d9d9d9;
    --bg-light: #ccccff;
    --bg-dark: #262626;
    --bg-special: #707093;
    --main: #f2f2f2;
    --text: #000000;
    --text-shadow-light: #655483;
    --text-shadow-dark: #000000;
    --border-light: #ffffff;
    --border-dark: #000000;
    --a-visited: #655483;
    --a: #628699;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 125%;
    color: var(--text);
    margin: 0;
    background-color: var(--bg-normal);
}

/* Justify images to the center and allow them to automatically set their margins and height, but specify width*/
img {
    display: block;
    justify-content: center;
    object-fit: contain;
    margin: auto;
    width: 75%;
    height: auto;
    border: 0.75rem outset var(--bg-special);
    border-radius: 0.5em;
}

/* The header is centered and has a small amount of padding around it*/
h1 {
    color: var(--main);
    justify-content: center;
    display: flex;
    padding: 0.25%;
    margin: 0;
}

/* The nav also needs to be centered, and its items inside need to be as well */
nav {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--bg-dark);
}

/* Navbar links should have some padding and no margin so that they are easy to use */
nav a {
    margin: 0;
    color: var(--bg-light);
    background-color: var(--bg-dark);
    padding: 1.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    display: block;
    text-decoration: none;

    /* Expand and start glowing on hover */
    &:hover {
        color: var(--bg-dark);
        background-color: var(--bg-light);
        transition: 0.25s;
    }

    &.active {
        color: var(--bg-dark);
        background-color: var(--bg-light);
    }
}

/* The main content has margins on each side so that it is easier to read, and a minimum height to ensure the footer always remains at the bottom */
main {
    margin: 5vh 20vw 5vh 20vw;
    min-height: 90vh;
    border: 1rem outset var(--bg-dark);
    border-radius: 0.5rem;
    box-shadow: 0 0 1em var(--bg-dark);
    padding: 1%;
    color: var(--text);
    background-color: var(--main);
    transition: linear 0.15s;
    /* This makes resizing the window around feel smooth */
    object-fit: contain;
}

/* Custom hyperlink colors */
main a {
    color: var(--a);

    &:visited {
        color: var(--a-visited);
    }
}

/* Header formatting under main */
main h2 {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    border-top: 0.1em dashed var(--bg-dark);

    &a {
        text-decoration: none;
    }
}

/* Footer should always appear at the bottom and never be visible from the top of the page*/
footer {
    justify-content: center;
    align-items: center;
    font-style: oblique 15deg;
    display: flex;
    color: var(--main);
    background-color: var(--bg-dark);
    margin: 0;
    width: 98%;
    height: auto;
    margin-top: auto;
    left: 0;
    bottom: 0;
    padding: 1%;
    border-top: 0.5em solid var(--bg-dark);
}


/* Footer and h1 flexboxes */
footer div,
h1 div,
.flexbox {
    background-color: var(--bg-dark);
    padding: 0.25em;
    margin: auto;
    border: 0.35em outset white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em var(--text-shadow-dark);
    justify-content: center;
    text-align: center;
}

footer div {
    margin: auto;
}

footer a {
    color: white;
}

/* Text styling and lists */
b {
    font-weight: 800;
}

li {
    margin-bottom: 0.5em;
}

/* Below are some useful classes that apply cool effects, simply apply their respective class to an element to use */

/* Stripe background pattern */
.construction {
    background-image: repeating-linear-gradient(45deg, var(--bg-special) 0, var(--bg-special) 10% 0, var(--bg-dark) 0, var(--bg-dark) 20% 0);
    border-bottom: 0.5em solid var(--bg-dark);
}

/* Text that is glowing */
.glowing {
    text-shadow: 0 0 0.6em var(--text-shadow-light), 0 0 0.2em var(--text-shadow-light), 0.2em 0.2em 0.2em var(--text-shadow-dark);
    -webkit-text-stroke: 0.025em var(--text-shadow-light);
}

/* Text within a <span> glows differently */
span.glowing {
    text-shadow: 0 0 0.4em var(--text-shadow-light-alt), 0 0 0.2em var(--text-shadow-light-alt);
    -webkit-text-stroke: 0.025em var(--text-shadow-light-alt);
}

/* Text with a black shadow around it */
.shadow {
    text-shadow: 0 0 0.2em var(--text-shadow-dark);
}

/* Column class with multiple columns*/
.columns {
    columns: 2;
    column-gap: 5%;
    column-rule: dotted 0.5em var(--bg-dark);
}

/* Columns */
@media screen and (max-width: 800px) {
    .columns {
        columns: 1;
    }
}

/* Grid class that can be applied to a container div */
.grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
}

/* Grid items */
.grid div,
.grid a {
    background-color: var(--bg-dark);
    color: var(--main);
    width: 20vw;
    text-align: center;
    padding: 1em;
    margin: 0.5em;
    border-style: 0.5em dotted var(--border-dark);
    border-radius: 0.25em;
    box-shadow: 0 0 1em var(--text-shadow-dark);
    text-decoration: none;
}

/* Links in a grid should glow when hovered and not have a special visited color */
.grid a {
    color: var(--bg-light);

    &:visited {
        color: var(--bg-light)
    }

    &:hover {
        background-color: var(--bg-light);
        color: var(--text);
        transition: 0.15s;
    }
}

/* Some of these media queries might seem duplicated, but the order does matter */
@media screen and (max-width: 1200px) {

    /* Reduce the margins of main to prevent content from being squished */
    main {
        margin-left: 5%;
        margin-right: 5%;
        min-height: 160vh;
    }

    /* Grids are reduced to a single column*/
    .grid {
        grid-template-columns: 1fr;
    }

    .grid div,
    .grid a {
        width: 50vw;
    }

    /* Make boxes in the footer display vertically to ensure they don't break */
    footer {
        display: block;
    }
}

/* Class to center a tag */
.centered {
    text-align: center;
}

@media screen and (min-width: 1200px) {

    /* Since the expand button is just a navbar link, it has to be hidden at higher resolutions */
    nav a:first-child {
        display: none;
    }
}

/* Images that float to the right */
.right-float {
    display: flex;
    float: right;
    width: 40%;
    clear: both;
    margin-left: 1%;
}

/* Navbar collapses at smaller widths and can be expanded by pressing the top button, which is actually the first link in the navbar that is hidden by default */
@media screen and (max-width: 1200px) {

    /* Make the navbar vertical on smaller displays */
    nav {
        height: auto;
        position: relative;
        display: block;
    }

    nav a {
        /* Make navbar links not scale up when hovered over on smaller screens */
        display: block;
        text-align: left;
        float: none;

        &:hover {
            transform: none;
        }
    }

    /* Hide navbar links when not expanded, except for the first */
    nav:not(.expanded) a:not(:first-child) {
        display: none;
        padding-left: 5%;
    }
}

/* Make right-floating images take up the width of the screen at this low of a resolution */
@media screen and (max-width: 800px) {
    .right-float {
        width: 100%;
        display: block;
    }
}

/* Make main take up almost the whole screen at this low of a width */
@media screen and (max-width: 600px) {
    main {
        width: 90%;
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;
        border-radius: 0px;
        border: none;
    }
}

/* Figcaptions */
figcaption {
    font-style: italic;
    text-align: center;
}

figcaption a {
    font-size: 80%;
}

/* Content with an image on the right and text on the left, place all items within another <div> inside of the element that has this as a class! */
.img-content-item {
    display: grid;
    align-items: left;
    text-align: left;
    grid-template-areas:
        "h h"
        "a b"
        "a a"
    ;
}

/* Put items into respective grid areas */
.img-content h2 {
    grid-area: h;
}

.img-content-item p,
.img-content-item ul {
    grid-area: a;
}

.img-content-item img {
    grid-area: b;
    width: 35%;
    transition: 0.1s;
}

/* Images take up more of the screen at this width */
@media screen and (max-width: 1200px) {
    .img-content-item img {
        width: 50%;
    }
}

/* Images should take up most of the screen width on smaller screens */
@media screen and (max-width: 800px) {
    .img-content-item {
        grid-template-areas:
            "h h"
            "b b"
            "a a"
        ;
    }

    .img-content-item img {
        width: 96%;
        margin: auto;
        margin-bottom: 1em;
    }
}

/* Google Fonts */
.science-gothic-regular {
    font-family: "Science Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.science-gothic-bold {
    font-family: "Science Gothic", sans-serif;
    font-weight: 600;
    font-style: bold;
}

/* Leaflet map */
#map {
    height: 500px;
    justify-content: center;
    margin: auto;
    border: 0.5rem outset var(--bg-special);
    border-radius: 0.5rem;
    background-color: none;
}

@media screen and (max-width: 800px) {
    #map {
        margin-left: none;
    }
}

/* Prevent Leaflet elements from inheriting a border */
.leaflet-container img {
    border: none;
}

/* Tables */
table {
    width: 70%;
    border-collapse: collapse;
}

/* Tables */
tr,
th,
td {
    border: 0.1em solid var(--bg-dark);
    text-align: left;
}

table {
    border: 0.2em solid var(--bg-dark);
}

/* Table Header */
th {
    color: var(--main);
    background-color: var(--bg-dark);
}