/* Variables, adjust these to your liking */
:root {
    --bg-color-normal: #d9d9d9;
    --bg-color-light: #ccccff;
    --bg-color-dark: #262626;
    --bg-color-special: #c1a54a;
    --main-color: #f2f2f2;
    --text-color: #000000;
    --text-shadow-color-light: #dbabff;
    --text-shadow-color-dark: #000000;
    --border-color-light: #ffffff;
    --border-color-dark: #000000;
    --nyi-color: #ff0000;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 120;
    color: var(--text-color);
    margin: 0;
    background-color: var(--bg-color-normal);
}

img {
    justify-content: center;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    border: 1rem inset var(--bg-color-special);
    border-radius: 0.5rem;
}

h1 {
    color: var(--main-color);
    justify-content: center;
    display: flex;
    padding: 1.5%;
    margin: 0;
}

nav {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--bg-color-dark);
    /*border: 0.25vh solid var(--border-color-light);*/
}

nav a {
    margin: 0;
    color: var(--bg-color-light);
    background-color: var(--bg-color-dark);
    padding: 0.5vw;
    text-decoration: none;
    &:hover {
        color: var(--bg-color-dark);
        background-color: var(--bg-color-light);
        transform: scale(1.1);
        transition: 0.25s;        
    }
}

/* Make all NYI links red, making sure to ignore the Home link which should be the first link in the navbar */
nav a[href="./"]:not(:first-child) {
    color: var(--nyi-color);
    &:hover {
        color: var(--bg-color-normal);
        background-color: var(--nyi-color);
    }
}

/*  */
main {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-height: 90vh;
    border: 1rem inset var(--bg-color-dark);
    border-radius: 0.5rem;
    padding: 1%;
    color: var(--text-color);
    background-color: var(--main-color);
}

/* Footer should appear at the bottom */
footer {
    justify-content: center;
    align-items: center;
    font-style: oblique 30deg;
    display: flex;
    color: var(--main-color);
    background-color: var(--bg-color-dark);
    margin: 0;
    width: 95%;
    height: 3vh;
    /*position: fixed;*/
    margin-top: auto;
    left: 0;
    bottom: 0;
    padding: 2.5%;
}

/* Yellow/Black Stripe pattern, apply the "construction" class to a tag to use */
.construction {
    background-image: repeating-linear-gradient(45deg, var(--bg-color-special) 0, var(--bg-color-special) 10% 0, var(--bg-color-dark) 0, var(--bg-color-dark) 20% 0);
}

/* Text that is glowing */
.glowing {
    text-shadow: 0 0 0.4em var(--text-shadow-color-light), 0 0 0.2em var(--text-shadow-color-light);
}

.shadow {
    text-shadow: 0 0 0.2em var(--text-shadow-color-dark),
}