/* Variables, adjust these to your liking */
:root {
    --bg-color-normal: #d9d9d9;
    --bg-color-light: #ccccff;
    --bg-color-dark: #262626;
    --bg-color-special: #c1a54a;
    --main-color: #f2f2f2; /* Background color of the background of the <main> tag */
    --text-color: #000000; /* Primary text color */
    --text-shadow-color-light: #dbabff;
    --text-shadow-color-light-alt: #7bd966;
    --text-shadow-color-dark: #000000;
    --border-color-light: #ffffff;
    --border-color-dark: #000000;
    --a-visited: #655483;
    --a: #628699;
    --nyi-color: #ff0000;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 120;
    color: var(--text-color);
    margin: 0;
    background-color: var(--bg-color-normal);
}

/* Justify images to the center and allow them to automatically set their margins and height, but specify width*/
img {
    justify-content: center;
    object-fit: contain;
    margin: auto;
    width: 50%;
    height: auto;
    border: 1rem outset var(--bg-color-special);
    border-radius: 0.5em;
}

/* The header is centered and has a small amount of padding around it*/
h1 {
    color: var(--main-color);
    justify-content: center;
    display: flex;
    padding: 0.5%;
    margin: 0;
}

/* The nav also needs to be centered, and its items inside need to be as well */
nav {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--bg-color-dark);
}

/* Navbar links should have some padding and no margin so that they are easy to use */
nav a {
    margin: 0;
    color: var(--bg-color-light);
    background-color: var(--bg-color-dark);
    padding: 1em;
    display: block;
    text-decoration: none;
    /* Expand and start glowing on hover */
    &:hover {
        color: var(--bg-color-dark);
        background-color: var(--bg-color-light);
        transform: scale(1.1);
        transition: 0.25s;        
    }
}

/* Make all NYI links red, making sure to ignore the Home link which should be the first link in the navbar */
nav a[href="/"]:not(:first-child), a[href="./"]:not(:first-child), a[href="../"]:not(:first-child) {
    color: var(--nyi-color);
    &:hover {
        color: var(--bg-color-normal);
        background-color: var(--nyi-color);
    }
}

/* The main content has margins on each side so that it is easier to read, and a minimum height to ensure the footer always remains at the bottom */
main {
    margin: 5vh 20vw 5vh 20vw;
    min-height: 90vh;
    border: 1rem outset var(--bg-color-dark);
    border-radius: 0.5rem;
    box-shadow: 0 0 1em var(--bg-color-dark);
    padding: 1%;
    color: var(--text-color);
    background-color: var(--main-color);
    transition: linear 0.15s; /* This makes resizing the window around feel very smooth */
    object-fit: contain;
}

/* Footer should always appear at the bottom and never be visible from the top of the page*/
footer {
    justify-content: center;
    align-items: center;
    font-style: oblique 30deg;
    display: flex;
    color: var(--main-color);
    background-color: var(--bg-color-dark);
    margin: 0;
    width: 98%;
    height: auto;
    margin-top: auto;
    left: 0;
    bottom: 0;
    padding: 1%;
    border-top: 1em solid var(--bg-color-dark);
}

/* Below are some useful classes that apply cool effects, simply apply their respective class to an element to use */

/* Yellow/Black Stripe background pattern */
.construction {
    background-image: repeating-linear-gradient(45deg, var(--bg-color-special) 0, var(--bg-color-special) 10% 0, var(--bg-color-dark) 0, var(--bg-color-dark) 20% 0);
    border-bottom: 1em solid var(--bg-color-dark);
}

/* Text that is glowing */
.glowing {
    text-shadow: 0 0 0.6em var(--text-shadow-color-light), 0 0 0.4em var(--text-shadow-color-light), 0.2em 0.2em 0.2em var(--text-shadow-color-dark);
    -webkit-text-stroke: 0.025em var(--text-shadow-color-light);
}

/* Text within a <span> glows differently */
span.glowing {
    text-shadow: 0 0 0.4em var(--text-shadow-color-light-alt), 0 0 0.2em var(--text-shadow-color-light-alt);
    -webkit-text-stroke: 0.025em var(--text-shadow-color-light-alt);
}

/* Text with a black shadow around it */
.shadow {
    text-shadow: 0 0 0.2em var(--text-shadow-color-dark);
}

/* Footer and h1 flexboxes */
footer div, h1 div, .flexbox {
    background-color: var(--bg-color-dark);
    padding: 1em;
    margin: auto;
    border: 0.5em outset white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em var(--text-shadow-color-dark);
    justify-content: center;
    text-align: center;
}

/* Move these below to a better location once Week 4 is graded */
footer div {
    margin: auto;
}

footer a {
    color: white;
}

/* Column class with multiple columns*/
.columns {
    columns: 2;
    column-gap: 5%;
    column-rule: dotted 0.5em var(--bg-color-dark);
}

/* Columns */
@media screen and (max-width: 800px) {
    .columns {
        columns: 1;
    }
}

/* Grid class that can be applied to a container div */
.grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
}

/* Grid items */
.grid div, .grid a {
    background-color: var(--bg-color-dark);
    color: var(--main-color);
    width: 20vw;
    text-align: center;
    padding: 1em;
    margin: 0.5em;
    border-style: 0.5em dotted var(--border-color-dark);
    border-radius: 0.25em;
    box-shadow: 0 0 1em var(--text-shadow-color-dark);
    text-decoration: none;
}

/* Links in a grid should glow when hovered and not have a special visited color */
.grid a {
    color: var(--bg-color-light);

    &:visited {
        color: var(--bg-color-light)
    }

    &:hover {
        background-color: var(--bg-color-light);
        color: var(--text-color);
        transition: 0.15s;
    }

}

/* Custom hyperlink colors */
main a {
    color: var(--a);
    &:visited {
        color: var(--a-visited);
    }
}

/* Header formatting under main */
main h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    border-top: 0.1em dashed var(--bg-color-dark);
    &a {
        text-decoration: none;
    }
}

/* TODO: Improve responsive design */
@media screen and (max-width: 1200px) {
    /* Reduce the margins of main to prevent content from being squished*/ 
    main {
        margin-left: 5%;
        margin-right: 5%;
    }

    /* Grids are reduced to a single column*/
    .grid {
        grid-template-columns: 1fr;
    }

    .grid div, .grid a {
        width: 50vw;
    }

    /* Make boxes in the footer display vertically to ensure they don't break */
    footer {
        display: block;
    }
}

/* Class to center a tag */
.centered {
    text-align: center;
}

@media screen and (max-width: 800px) {
    /* Make the navbar vertical on smaller displays */
    nav {
        height: auto;
        position: relative;
        display: block;
    }

    nav a {
        display: block;
        text-align: left;
        float: none;
        /* Make navbar links not scale up when hovered over on smaller screens */
        &:hover {
            transform: none;
        }
    }
}

.flipcard {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 90%;
    height: 7em;
    display: flex;
    perspective: 90%;
    padding: 0.5em;
    margin-bottom: 3%;
    margin-top: 3%;
}

@media screen and (max-width: 800px) {
    .flipcard {
        height: 12em;
    }
}

.flipcard-inner { 
    position: relative;
    transform-origin: center;
    text-align: center;
    transform-style: preserve-3d;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    border: 0.5em solid var(--bg-color-dark);
    border-radius: 0.5em;
    box-shadow: 0 0 1em var(--bg-color-dark);

}

/* Flipcards, note that their height will not automatically adjust */

/* Rotate when hovering */
.flipcard:hover {
    .flipcard-inner {
        transform: rotateY(180deg);
    }
}

/* Make sure that the two card sides overlap and do not show their back side */
.flipcard-front, .flipcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flipcard-front {
    background-color: var(--bg-color-dark);
    color: var(--bg-color-light);
}

/* Back side is pre-rotated */
.flipcard-back {
    transform: rotateY(180deg);
    background-color: var(--main-color);
}